<div id="page-content">
  <form [formGroup]="form">
    <div class="container mt-5 mx-auto my-auto">
      <div class="row gy-2 justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-7 text-center">
          <h1 class="fw-light mt-4 text-white">INICIAR SESION</h1>
          <p class="lead text-white-50">Porfavor ingresa el código del curso y la contraseña.</p>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-7 text-center">
          <div class="input-group mb-3  w-100 h-100">
            <input formControlName="codigo" required
              [ngClass]="{'is-valid': form.value.codigo, 'is-invalid': !form.value.codigo}" type="text"
              class="form-control" placeholder="Insertar Código" aria-label="Código" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-7 text-center">
          <div class="input-group mb-3 w-100 h-100">
            <input formControlName="password" required
              [ngClass]="{'is-valid': form.value.password, 'is-invalid': !form.value.password}" type="password"
              class="form-control shadow-none" placeholder="Insertar Contraseña" aria-label="Contraseña"
              aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-7 text-center">
          <button [disabled]="form.invalid" type="button" (click)="login()"
            class="w-100 btn btn-success signup-btn">Ingresar</button>
        </div>
      </div>
    </div>
  </form>
</div>