body{
    
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    font-family: 'Montserrat' !important;
    font-weight: 600;
    color: white;
}