table {
    width: 100%;
    background-color: #212529;
  }
  
  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgba(245, 245, 245, 0.274);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: rgba(245, 245, 245, 0.274);
    ;
  }
  
  .no-hover-effect.mat-button.mat-primary .mat-button-focus-overlay,
  .no-hover-effect.mat-button.mat-accent .mat-button-focus-overlay,
  .no-hover-effect.mat-button.mat-warn .mat-button-focus-overlay
  {
    background-color: transparent;
  }

  .mat-button {
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .input-points{ 
    text-align: center;
    width: 20%;
  }

  /* .detail {
    align-items: center;
    justify-content: center;
  } */

  /* .example-element-description-attribution {
    opacity: 0.5;
  } */



  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  .parpadea {
  
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }.parpadea:disabled {
  
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity:.0; }
    100% { opacity: 1.0; }
  }